.first {
    background-color: #96bedb;
    border-radius: 10px;
    position: relative;
    top: 10%;
    height: auto;
    overflow: auto;
}
.developer{
    width: 35%;
    float: right;
}
.myname{
    font-family: 'Quicksand', sans-serif;
    padding-top: 100px;
}
h2{
    font-family: 'Quicksand', sans-serif;
}
p{
    font-family: 'Quicksand', sans-serif;
    line-height: 2;
}
body{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #40514E;
}
.skill-row{
    margin: auto;
    width: 50%;
}
h2{
    padding-bottom: 10px;
    color: #96bedb;
}
.skills,.profile{
    margin: 100px 0;
}
.intro{
    width: 40%;
    text-align: center;
    margin: auto;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    margin: 100px auto;
    width: 4%;
}
.contact-me{
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #3CA0EE;
    background-image: -webkit-linear-gradient(top, #3CA0EE, #87BFF4);
    background-image: -moz-linear-gradient(top, #3CA0EE, #87BFF4);
    background-image: -ms-linear-gradient(top, #3CA0EE, #87BFF4);
    background-image: -o-linear-gradient(top, #3CA0EE, #87BFF4);
    background-image: -webkit-gradient(to bottom, #3CA0EE, #87BFF4);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 17px;
    font-weight: 100;
    padding: 16px;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #7EABF3;
    background-image: -webkit-linear-gradient(top, #7EABF3, #B0D4FC);
    background-image: -moz-linear-gradient(top, #7EABF3, #B0D4FC);
    background-image: -ms-linear-gradient(top, #7EABF3, #B0D4FC);
    background-image: -o-linear-gradient(top, #7EABF3, #B0D4FC);
    background-image: -webkit-gradient(to bottom, #7EABF3, #B0D4FC);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 .footer{
     background-color: #96bedb;
     padding: 50px 0 20px;
 }
 a{
     margin: 10px 20px;
     text-decoration: none;
 }
 a:hover{
     color: #eaf6f6;
 }
 nav{
     display: flex;
     justify-content: space-between;
 }
 .navbar-nav{
     display: flex;
     list-style-type: none;
 }

 .nav-link:hover, .onwhitebg:hover{
     color: #96bedb;
 }
 .socials{
    width: 40px;
    margin: 10px;
 }
 .project-logo{
     width: 150px;
 }
 svg:hover{
    transform: scale(1.1);
 }
 .project-logo:hover{
     transform: scale(1.1);
 }
 html{
     scroll-behavior: smooth;
 }
 .scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #96bedb;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: black;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

 @media only screen and (max-width: 100px){

 }