.first {
    background-color: #96bedb;
    position: relative;
    top: 50%;
    height: auto;
    overflow: auto;
}
.developer{
    padding-top: 120px;
    width: 35%;
    float: right;
}
.myname{
    font-family: 'Quicksand', sans-serif;
    padding-top: 250px;
}
h2{
    font-family: 'Quicksand', sans-serif;
}
p{
    font-family: 'Quicksand', sans-serif;
    line-height: 2;
}
body{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #40514E;
}
.skill-row{
    margin: auto;
    width: 50%;
}
h2{
    padding-bottom: 10px;
    color: #96bedb;
}
.skills,.profile{
    margin: 100px 0;
}
.intro{
    width: 40%;
    text-align: center;
    margin: auto;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    margin: 100px auto;
    width: 4%;
}
.contact-me{
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #3CA0EE;
    background-image: -webkit-linear-gradient(top, #3CA0EE, #87BFF4);
    background-image: -moz-linear-gradient(top, #3CA0EE, #87BFF4);
    background-image: -ms-linear-gradient(top, #3CA0EE, #87BFF4);
    background-image: -o-linear-gradient(top, #3CA0EE, #87BFF4);
    background-image: -webkit-gradient(to bottom, #3CA0EE, #87BFF4);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 17px;
    font-weight: 100;
    padding: 16px;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #7EABF3;
    background-image: -webkit-linear-gradient(top, #7EABF3, #B0D4FC);
    background-image: -moz-linear-gradient(top, #7EABF3, #B0D4FC);
    background-image: -ms-linear-gradient(top, #7EABF3, #B0D4FC);
    background-image: -o-linear-gradient(top, #7EABF3, #B0D4FC);
    background-image: -webkit-gradient(to bottom, #7EABF3, #B0D4FC);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 .footer{
     background-color: #96bedb;
     padding: 50px 0 20px;
 }
 a{
     margin: 10px 20px;
     text-decoration: none;
 }
 a:hover{
     color: #eaf6f6;
 }
 nav{
     display: flex;
     justify-content: space-between;
 }
 .navbar-nav{
     display: flex;
     list-style-type: none;
 }

 .onwhitebg:hover{
     color: #96bedb;
 }
 .socials{
    width: 40px;
    margin: 10px;
 }
 .project-logo{
     width: 150px;
 }
 svg:hover{
    transform: scale(1.1);
 }
 .project-logo:hover{
     transform: scale(1.1);
 }
 html{
     scroll-behavior: smooth;
 }
 .scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #96bedb;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: black;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

.header_area {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transition: background 0.4s, all 0.3s linear; }
    .header_area .navbar {
      background: transparent;
      padding: 0px;
      border: 0px;
      border-radius: 0px; }
      .header_area .navbar .nav .nav-item {
        margin-right: 45px; }
        .header_area .navbar .nav .nav-item .nav-link {
          font: 500 12px/120px "Quicksand", sans-serif;
          text-transform: uppercase;
          color: #fff;
          padding: 0px;
          display: inline-block; }
          .header_area .navbar .nav .nav-item .nav-link:after {
            display: none; }
        .header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
          color: #fff; }
        .header_area .navbar .nav .nav-item.submenu {
          position: relative; }
          .header_area .navbar .nav .nav-item.submenu ul {
            border: none;
            padding: 0px;
            border-radius: 0px;
            box-shadow: none;
            margin: 0px;
            background: #fff;
            box-shadow: 0px 3px 16px 0px #96bedb }
            @media (min-width: 992px) {
              .header_area .navbar .nav .nav-item.submenu ul {
                position: absolute;
                top: 120%;
                left: 0px;
                min-width: 200px;
                text-align: left;
                opacity: 0;
                transition: all 300ms ease-in;
                visibility: hidden;
                display: block;
                border: none;
                padding: 0px;
                border-radius: 0px; } }
            .header_area .navbar .nav .nav-item.submenu ul:before {
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 10px 10px 0 10px;
              border-color: #eeeeee transparent transparent transparent;
              position: absolute;
              right: 24px;
              top: 45px;
              z-index: 3;
              opacity: 0;
              transition: all 400ms linear; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item {
              display: block;
              float: none;
              margin-right: 0px;
              border-bottom: 1px solid #ededed;
              margin-left: 0px;
              transition: all 0.4s linear; }
              .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
                line-height: 45px;
                color: #96bedb;
                padding: 0px 30px;
                transition: all 150ms linear;
                display: block;
                margin-right: 0px; }
              .header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
                border-bottom: none; }
              .header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
                background: #766dff;
                color: #fff; }
          @media (min-width: 992px) {
            .header_area .navbar .nav .nav-item.submenu:hover ul {
              visibility: visible;
              opacity: 1;
              top: 100%; } }
          .header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
            margin-top: 0px; }
        .header_area .navbar .nav .nav-item:last-child {
          margin-right: 0px; }
      .header_area .navbar .search {
        font-size: 12px;
        line-height: 60px;
        display: inline-block;
        color: #96bedb;
        margin-left: 80px; }
        .header_area .navbar .search i {
          font-weight: 600; }
    .header_area.navbar_fixed .main_menu {
      position: fixed;
      width: 100%;
      top: -70px;
      left: 0;
      right: 0;
      background: #96bedb;
      transform: translateY(70px);
      transition: transform 500ms ease, background 500ms ease;
      -webkit-transition: transform 500ms ease, background 500ms ease;
      box-shadow: 0px 3px 16px 0px #96bedb; }
      .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
        line-height: 70px; }